__pycache__/
.idea/
.venv/

/info_data/original/*
!/info_data/original/.gitkeep

/info_data/prepared/*
!/info_data/prepared/.gitkeep

/temp/download_upload/edf_input/*
!/temp/download_upload/edf_input/.gitkeep

/temp/download_upload/edf_output/*
!/temp/download_upload/edf_output/.gitkeep

/temp/download_upload/hdf5_output/*
!/temp/download_upload/hdf5_output/.gitkeep

/temp/preprocessing/cleaned_edf/*
!/temp/preprocessing/cleaned_edf/.gitkeep

/temp/preprocessing/output_blocks/*
!/temp/preprocessing/output_blocks/.gitkeep

/temp/preprocessing/output_csv/*
!/temp/preprocessing/output_csv/.gitkeep

/temp/preprocessing/output_subblocks/*
!/temp/preprocessing/output_subblocks/.gitkeep

config.yaml

*.edf
*.h5
